@import 'variables.less';

body {
  background-color: @background-color;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: .8rem;
}
input,
textarea {
  font-family: 'Noto Sans SC', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Input {
  width: 100%;
  border: 2px solid @transparent;
  border-radius: 3px;
  outline: none;
  font-weight: 500;
  box-sizing : border-box;
}
.Title {
  color: @text-color;
  opacity: 0.75;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.56px;
}
