@background-color: #F6F9FC;
@accent: #6772E5;
@transparent: rgba(0, 0, 0, 0);
@border-color: rgba(0, 0, 0, 0.05);
@white: rgb(255, 255, 255);
@text-color: rgb(51, 51, 51);
@input-color: rgb(68, 68, 68);
@input-border: rgba(0, 0, 0, 0.25);
@input-bg: rgba(0, 0, 0, 0.05);
@red-error: rgb(248, 43, 96);
@red-error-light: rgba(248, 43, 96, 0.75);
@orange-warning: #ff6f2c;
@green-success: green;
