@background-color: #F6F9FC;
@test: #6772E5;
@border-color: rgba(0, 0, 0, 0.05);
@transparent: rgba(0, 0, 0, 0);
@white: rgb(255, 255, 255);
@text-color: rgb(51, 51, 51);
@input-color: rgb(68, 68, 68);
@input-bg: rgba(0, 0, 0, 0.05);
@red-error: rgb(248, 43, 96);
@red-error-light: rgba(248, 43, 96, 0.75);
@orange-warning: #ff6f2c;
@green-success: green;

body {
  background-color: @background-color;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: .8rem;
}
input,
textarea {
  font-family: 'Noto Sans SC', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddStop {
  width: 320px;
  padding: 2rem;
  border-radius: 6px;
  margin: 1.5rem 0 0 0;
  background-color: @white;
  border: 2px solid @border-color;
  .addStopTitle {
    color: @text-color;
    opacity: 0.75;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
  }
  .addStopInputGroup {
    margin: 0 0 1rem 0;
    .addStopInputLabel {
      color: @text-color;
      opacity: 0.75;
      font-size: 0.9rem;
      margin: 0 0 0.25rem 0;
    }
    .addStopInput {
      width: 100%;
      box-sizing : border-box;
      background-color: @input-bg;
      color: @input-color;
      border-radius: 3px;
      font-size: 1rem;
      padding: 0.5rem;
      font-weight: 500;
      border-color: @transparent;
      outline: none;
    }
    .addStopInput:focus,
    .addStopInput:active {
      border-color: rgba(0,0,0,0.25);
    }
    .inputError {
      animation-name: bounceIn;
      animation-duration: 240ms;
      color: @red-error;
      fill: @red-error;
      font-weight: 500;
      font-size: 11px;
      padding: 0.25rem 0.5rem;
      line-height: 1.25;
    }
  }
  .addStopSubmitBtn {
    width: 100%;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: @white;
    background-color: @test;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.128px;
    border: 2px solid @transparent;
    &:hover {
      opacity: 0.85;
    }
    &:focus,
    &:active {
      opacity: 0.85;
      outline: 0;
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }
}
.StopList {
  width: 320px;
  padding: 2rem;
  border-radius: 6px;
  margin: 1.5rem 0 3rem 0;
  background-color: @white;
  border: 2px solid @border-color;
  .StopListTitle {
    color: @text-color;
    opacity: 0.75;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.56px;
    &.hasStops {
      margin: 0 0 1rem 0;
    }
  }
  .StopRow {
    padding: 1rem 0;
    border-top: 2px solid @border-color;
  }
  .StopRow:last-of-type {
    border-bottom: 2px solid @border-color;
  }
  .StopRowTopActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0.25rem 0;
    padding: 0.25rem;

    .StopRowTopActionsLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .StopRowLabel {
    color: @text-color;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.75;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .StopRowLabelValue {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0 0 0.5rem;
    border-radius: 6px;
    font-weight: 700;
    color: @white;
    background-color: @orange-warning;
    &.completed {
      background-color: @green-success;
    }
  }
  .StopRowInput,
  .StopRowTextarea {
    width: 100%;
    opacity: 0.75;
    box-sizing : border-box;
    color: @text-color;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 0.25rem;
    font-weight: 500;
    border: 2px solid @transparent;
    outline: none;
    margin: 0 0 0.25rem 0;
  }
  .StopRowInput:hover,
  .StopRowTextarea:hover {
    background-color: @input-bg;
    color: @input-color;
    cursor: pointer;
    opacity: 1;
  }
  .StopRowInput:focus,
  .StopRowTextarea:focus,
  .StopRowInput:active,
  .StopRowTextarea:active {
    background-color: @input-bg;
    color: @input-color;
    border-color: rgba(0,0,0,0.25);
    cursor: text;
    opacity: 1;
  }
  .StopRowTextarea {
    resize: none;
  }
  .StopDeleteContainer {
    padding: 0.25rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .StopDeleteButton {
      color: @red-error-light;
      border-bottom: 2px solid @transparent;
      font-size: 0.6rem;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        color: @red-error;
        border-bottom: 2px solid @red-error-light;
      }
    }
  }
}

//checkbox styling
.container {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0 0.5rem 0 0;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: @input-bg;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid rgba(0,0,0,0.25);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: @test;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
